.read_more {
  display: inline-flex;
  width: fit-content;
  padding: 0.375em 0.5em 0.375em 0.5em;
  border-radius: 0.25em;
  position: relative;
  color: var(--wb950);
  font-size: 1em;
  opacity: 0.5;
  font-weight: 300;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.read_more:hover {
  opacity: 1;
  transition: 0.3s;
  background-color: var(--green300);
}
