.box {
  width: 100%;
  border-radius: 0.5em;
  background: var(--wb50);
  transform-origin: top center;
}

.title {
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: -0.025em;
  margin-bottom: 0.5em;
}

.text {
  font-size: 1em;
  font-weight: 300;
  max-width: 40ch;
  line-height: 1.5em;
}
