.container {
  height: 60vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--red600);
  transition: .3s;
  overflow: hidden;
}

.textWrapper {
  width: 100vw;
  font-weight: 700;
  line-height: .75;
  color: var(--wb100);
  transform-origin: bottom;
  scroll-snap-align: top;
  scroll-snap-type: mandatory;
}