.container {
  width: 100vw;
  padding: 40vh 15vw 10vh 15vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--wb950);
}

.content {
  width: 30vw;
  font-size: 2em;
}