.container {
  height: 80vh;
  width: 100vw;
  padding: 10vh 10vw 10vh 10vw;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-top: 1px solid var(--wb950);
  border-bottom: 1px solid var(--wb950);
}

.content {
  width: 30vw;
  font-size: 2em;
}