.wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.formWrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.successWrapper {
  width: 100%;
  height: auto;
  position: relative;
}

/* .shake {
} */
