.main {
  height: 40vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.img {
  min-width: 40vh;
  object-fit: cover;
  object-position: center;
}

.img:nth-child(9) {
  min-width: 80vh;
}
