.stary-sky {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
}

.stars {
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
}

.star {
    position: absolute;
    width: calc(var(--star-tail-length, 6em) / 6);
    height: var(--star-tail-height, 2px);
    background: linear-gradient(45deg, var(--star-color, #fff), transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px var(--star-color, #fff));
    top: var(--top-offset, 0);
    left: 0;
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration, 9s) var(--fall-delay, 0s) linear infinite, tail-fade var(--tail-fade-duration, 9s) var(--fall-delay, 0s) ease-out infinite;
}

.star::before,
.star::after {
    content: '';
    position: absolute;
    width: calc(var(--star-tail-length, 6em) / 6);
    height: 100%;
    background: linear-gradient( 45deg, transparent, var(--star-color, #fff), transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}

.star::before {
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}

@keyframes tail-fade {
    0%,
    50% {
        width: var(--star-tail-length, 6em);
        opacity: 1;
    }
    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}