.terminal {
  width: 100vw;
  height: 100vh;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  position: relative;
  z-index: 999;
  background-color: #e8e8e8;
}
