.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 5vw;
}

.header {
  font-size: 1.5em;
  width: 25vw;
}

.main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.input_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 0.3s;
  width: 100%;
}

.label {
  font-size: 1.25em;
}

.input {
  background-color: var(--wb50);
  outline: none;
  border: none;
  padding: 1em 0em;
  width: 100%;
  resize: none;
  transition: 0.3s;
}

.input:focus {
  outline: none;
}

.button {
  padding: 0.375em 0.5em 0.375em 0.5em;
  background-color: var(--green300);
  border-radius: 0.25em;
  position: relative;
  color: var(--green700);
  line-height: 1em;
}

.button::before {
  content: "●";
  margin-right: 0.75em;
}
