.input {
  border: 1px solid transparent;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 1em;
  outline: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 1px solid var(--darkblue300);
}
