.container {
  width: calc(80vw - 9em);
  height: calc(100vh - 6em);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10vh;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.title,
.section_title {
  font-size: 1.5em;
  color: var(--wb950);
  letter-spacing: -2.5%;
  position: relative;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.section_title {
  font-size: 1.25em;
}

.title::before,
.section_title::before {
  content: "●";
  font-size: 0.5em;
  margin-right: 0.5em;
}

.desc {
  font-size: 0.875em;
  font-weight: 300;
  letter-spacing: -2.5%;
  color: var(--wb500);
}

.form {
  height: calc(85vh - 6em);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em;
}

.form_section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 5vw;
}

.form_section_header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.form_section_content {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.input_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.checkbox_input_group {
  border-top: 1px solid var(--wb200);
  padding-top: 2em;
  grid-column: span 2;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2em;
}

.label {
  margin-left: 0.5em;
  font-size: 0.825em;
  font-weight: 300;
  text-transform: uppercase;
}

.form button {
  width: 100%;
  padding: 1em;
  font-size: 1.1em;
  font-weight: 500;
  color: var(--wb50);
  background-color: var(--wb950);
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: 0.3s;
  position: sticky;
  bottom: 0;
}

.form button[type="submit"]:hover:not(:disabled) {
  background-color: var(--wb800);
}

.form button[type="submit"]:disabled {
  background-color: var(--wb300);
  cursor: not-allowed;
}

/* Başarılar (Achievements) içindeki tekrarlanan inline stilleri temizlemek için */
.dynamic_box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  border: 1px solid var(--wb200);
  border-radius: 0.25em;
  background-color: #fff;
}

.dynamic_row {
  display: flex;
  gap: 1em;
  width: 100%;
}
