.container {
  width: 100vw;
  padding: 10vh 1vw;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.side_image_container {
  width: 10em;
  aspect-ratio: 2/3;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: inset(50% 50% 50% 50%);
  transition: clip-path 0.3s ease-out;
}

.content {
  font-size: 1em;
  font-weight: 500;
  width: 17.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content_text {
  overflow: hidden;
  height: 1.4em;
}

.link {
  font-weight: 200;
  overflow: hidden;
}

.customCursor {
  position: fixed;
  pointer-events: none;
  z-index: 999;
  padding: 0.375em 0.5em;
  border-radius: 0.25em;
  line-height: 1em;
  white-space: nowrap;
  transform: translate3d(-50%, -50%, 0); /* sadece başlangıç offset */
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 10vh 1vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0vh 1vw;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
  }

  .slide_image_container {
    width: 75vw;
  }

  .content {
    align-items: center;
    text-align: center;
  }
}
