.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--wb50);
  padding: 20vh 5vw;
}

.terminal_box {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.title {
  font-size: 0.875em;
  font-weight: 200;
  color: var(--wb950);
  opacity: 0.5;
}

.desc {
  font-size: 1.5em;
  line-height: 1.25;
  letter-spacing: -0.02em;
  font-weight: 300;
  color: var(--wb950);
  max-width: 30ch;
}

.actions {
  display: flex;
  gap: 3em;
  margin-top: 1em;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 20vh 1vw;
  }

  .terminal_box {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .desc {
    font-size: 1.25em;
  }
}
