.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.header {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--wb950);
}

.header_title {
	font-size: 1.5em;
	justify-content: flex-end !important;
}

.header_desc {
	font-size: 2em;
	font-weight: 300;
}

.div_left,
.div_right {
	width: 50vw;
	height: 50vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.div_right {
	padding: 10vh 10vh 10vh 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.div_left {
	padding: 10vh 10vw;
	text-align: end;
	justify-content: space-between;
}

.main_div {
	width: 100vw;
	display: flex;
	align-items: flex-end;
	border-bottom: 1px solid var(--wb950);
}

.main {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.work_techs {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: flex-end;
	font-weight: 300;
	color: var(--wb500);
	gap: 0.25em;
	line-height: 1;
}

.tech::after {
	content: ' ,';
}

.tech:nth-last-child(1)::after {
	display: none;
}

.work_context {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.5em;
}

.work_name {
	font-size: 1.5em;
	font-weight: 500;
}

.work_desc {
	font-size: 2em;
	font-weight: 300;
}

.img {
	height: 100%;
	object-position: top;
	object-fit: contain;
	user-select: none;
	border-radius: .5em;
	overflow: hidden;
}

.customCursor {
	position: fixed;
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	z-index: 999;
	padding: 0.375em 0.5em 0.375em 0.5em;
	background-color: var(--blue400);
	border-radius: 0.25em;
	color: var(--blue950);
	line-height: 1em;
	white-space: nowrap;
}

@media screen and (max-width: 1024px) {
	.div_right {
		padding: 5vw 5vw 5vw 0;
	}

	.div_left {
		padding: 5vw;
	}

	.work_name {
		font-size: 1.2em;
	}

	.work_desc {
		font-size: 1.5em;
	}

	.img {
		object-position: center;
	}
}
@media screen and (max-width: 600px) {
	.div_right {
		padding: 5vw;
		gap: 5vh;
		width: 100vw;
		text-align: end;
	}

	.div_left {
		width: 100vw;
	}

	.main_div,
	.header {
		width: 100vw;
		flex-direction: column;
	}

	.header {
		font-size: 1em;
	}

	.main {
		width: 60vw;
		font-size: 1.25em;
	}
}
