.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  padding: 20vh 1vw 20vh 1vw;
  position: relative;
  user-select: none;
}

.main {
  font-size: 1.25em;
  font-weight: 200;
  position: relative;
  text-align: center;
  width: 20em;
}

.name {
  color: var(--orange600);
}

.svg_name {
  display: inline-block;
  font-weight: 100;
  font-style: italic;
}

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
}

.contact_link_colored {
  padding: 0.375em 0.5em 0.375em 0.5em;
  border-radius: 0.25em;
  position: relative;
  color: var(--wb950);
  line-height: 1em;
  font-size: 1em;
  opacity: 0.5;
  font-weight: 300;
}

.contact_link_colored:hover {
  background-color: var(--main-color300);
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 5vh 5vw;
    gap: 5vh;
  }

  .header {
    font-size: 1em;
  }

  .main {
    width: 90vw;
    font-size: 1.25em;
  }

  .contact_link_colored {
    font-size: 1em;
  }
}
