.light {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  background-color: #e8e8e8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.circle {
  position: relative;
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  align-items: center;
  justify-content: center;
}

.circle::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 150px;
  height: 150px;
  content: " ";
  cursor: pointer;
  transition: 0.3s ease-out;
  border-radius: 150px;
  filter: blur(7px);
  box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff;
}

.circle:has(.input:checked):before {
  box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff,
    inset -8px -8px 20px #fff, inset 8px 8px 20px #a9a8b7;
  transition: 0.3s ease-in;
  transform: scale(1.05);
}

.input {
  height: 100%;
  width: 100%;
  appearance: none;
}
