.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  background-color: var(--wb50);
}

.image {
  width: calc((100vw - 0.5em) / 3);

  object-fit: cover;
}

.image:nth-last-child(2) {
  width: calc(((100vw) / 3) * 2);
}

.image:nth-last-child(1) {
  width: calc((100vw) / 3 - 0.25em);
}
