* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-weight: 500;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  color: inherit;
}

label {
  user-select: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}
