::-webkit-scrollbar {
  display: none;
  width: 0.5em;
  background-color: var(--wb150);
}

::-webkit-scrollbar-track {
  display: none;
  background-color: var(--wb150);
}

::-webkit-scrollbar-thumb {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--wb950);
}
