:root {
  /* ======================================================================== */
  /* BLACK & WHITE */
  /* ======================================================================== */
  --wb50: #f8f8f8;
  --wb100: #e8e8e8;
  --wb200: #dcdcdc;
  --wb300: #bdbdbd;
  --wb400: #989898;
  --wb500: #7c7c7c;
  --wb600: #656565;
  --wb700: #525252;
  --wb800: #464646;
  --wb900: #3d3d3d;
  --wb950: #161616;

  /* ======================================================================== */
  /* YELLOW 500*/
  /* ======================================================================== */
  --main-color50: #fffeea;
  --main-color100: #fffbc5;
  --main-color200: #fff785;
  --main-color300: #ffec46;
  --main-color400: #ffdd1b;
  --main-color500: #ffbd00;
  --main-color600: #e29200;
  --main-color700: #bb6702;
  --main-color800: #984f08;
  --main-color900: #7c410b;
  --main-color950: #482100;

  /* ======================================================================== */
  /* ORANGE 500*/
  /* ======================================================================== */
  --orange50: #fffaec;
  --orange100: #fff5d3;
  --orange200: #ffe6a5;
  --orange300: #ffd36d;
  --orange400: #ffb432;
  --orange500: #ff9b0a;
  --orange600: #f77f00;
  --orange700: #cc6002;
  --orange800: #a14a0b;
  --orange900: #823e0c;
  --orange950: #461d04;

  /* ======================================================================== */
  /* RED COLOR 600 */
  /* ======================================================================== */
  --red50: #fff1f1;
  --red100: #ffe4e4;
  --red200: #fecdcf;
  --red300: #fca5a8;
  --red400: #fa727a;
  --red500: #f24150;
  --red600: #da1e37;
  --red700: #bc142e;
  --red800: #9e132e;
  --red900: #87142d;
  --red950: #4b0613;

  /* ======================================================================== */
  /* PINK COLOR 400 */
  /* ======================================================================== */
  --pink50: #fff1f3;
  --pink100: #ffe4e9;
  --pink200: #fecdd8;
  --pink300: #fda4b8;
  --pink400: #fb6f92;
  --pink500: #f43f71;
  --pink600: #e11d5d;
  --pink700: #be124e;
  --pink800: #9f1248;
  --pink900: #881343;
  --pink950: #4c0520;

  /* ======================================================================== */
  /* PURPLE COLOR 600 */
  /* ======================================================================== */
  --purple50: #faf6fe;
  --purple100: #f4eafd;
  --purple200: #ead9fb;
  --purple300: #dabaf8;
  --purple400: #c38ef2;
  --purple500: #ac63e9;
  --purple600: #9d4edd;
  --purple700: #8130c0;
  --purple800: #6d2c9d;
  --purple900: #59257e;
  --purple950: #3c0f5c;

  /* ======================================================================== */
  /* DARK BLUE COLOR 500 */
  /* ======================================================================== */
  --darkblue50: #f0f7ff;
  --darkblue100: #dfeeff;
  --darkblue200: #b9ddfe;
  --darkblue300: #7bc2fe;
  --darkblue400: #34a3fc;
  --darkblue500: #0a88ed;
  --darkblue600: #0069cb;
  --darkblue700: #00509d;
  --darkblue800: #054887;
  --darkblue900: #0a3c70;
  --darkblue950: #07264a;

  /* ======================================================================== */
  /* BLUE COLOR 500 */
  /* ======================================================================== */
  --blue50: #ebfeff;
  --blue100: #cefaff;
  --blue200: #a2f3ff;
  --blue300: #63e8fd;
  --blue400: #1cd2f4;
  --blue500: #00b4d8;
  --blue600: #0390b7;
  --blue700: #0a7394;
  --blue800: #125d78;
  --blue900: #144d65;
  --blue950: #063346;

  /* ======================================================================== */
  /* GREEN COLOR 300 */
  /* ======================================================================== */
  --green50: #f0fdf2;
  --green100: #dcfce3;
  --green200: #bcf6c8;
  --green300: #80ed99;
  --green400: #4bdd6d;
  --green500: #24c349;
  --green600: #17a238;
  --green700: #167f2f;
  --green800: #17642a;
  --green900: #155225;
  --green950: #052e11;
}
