:root {
  /* ======================================================================== */
  /* BLACK & WHITE */
  /* ======================================================================== */
  --wb50: #f8f8f8;
  --wb100: #e8e8e8;
  --wb200: #dcdcdc;
  --wb300: #bdbdbd;
  --wb400: #989898;
  --wb500: #7c7c7c;
  --wb600: #656565;
  --wb700: #525252;
  --wb800: #464646;
  --wb900: #3d3d3d;
  --wb950: #292929;

  /* ======================================================================== */
  /* MAIN COLOR 500*/
  /* ======================================================================== */
  --main-color50: #fffeea;
  --main-color100: #fffbc5;
  --main-color200: #fff785;
  --main-color300: #ffec46;
  --main-color400: #ffdd1b;
  --main-color500: #ffbd00;
  --main-color600: #e29200;
  --main-color700: #bb6702;
  --main-color800: #984f08;
  --main-color900: #7c410b;
  --main-color950: #482100;

  /* ======================================================================== */
  /* GREEN COLOR 300 */
  /* ======================================================================== */
  --green50: #f0fdf2;
  --green100: #dcfce3;
  --green200: #bcf6c8;
  --green300: #80ed99;
  --green400: #4bdd6d;
  --green500: #24c349;
  --green600: #17a238;
  --green700: #167f2f;
  --green800: #17642a;
  --green900: #155225;
  --green950: #052e11;

  /* ======================================================================== */
  /* RED COLOR 600 */
  /* ======================================================================== */
  --red50: #fff1f1;
  --red100: #ffe4e4;
  --red200: #fecdcf;
  --red300: #fca5a8;
  --red400: #fa727a;
  --red500: #f24150;
  --red600: #da1e37;
  --red700: #bc142e;
  --red800: #9e132e;
  --red900: #87142d;
  --red950: #4b0613;

  /* ======================================================================== */
  /* BLUE COLOR 500 */
  /* ======================================================================== */
  --blue50: #ebfeff;
  --blue100: #cefaff;
  --blue200: #a2f3ff;
  --blue300: #63e8fd;
  --blue400: #1cd2f4;
  --blue500: #00b4d8;
  --blue600: #0390b7;
  --blue700: #0a7394;
  --blue800: #125d78;
  --blue900: #144d65;
  --blue950: #063346;

  /* ======================================================================== */
  /* PURPLE COLOR 600 */
  /* ======================================================================== */
  --green50: #faf6fe;
  --green100: #f4eafd;
  --green200: #ead9fb;
  --green300: #dabaf8;
  --green400: #c38ef2;
  --green500: #ac63e9;
  --green600: #9d4edd;
  --green700: #8130c0;
  --green800: #6d2c9d;
  --green900: #59257e;
  --green950: #3c0f5c;
}
