.container {
  padding: 15vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10vh;
}

.hero {
  width: 98vw;
  display: flex;
  align-items: flex-start;
  gap: 5vw;
}

.hero_image {
  width: 20vw;
  object-fit: cover;
  object-position: center;
}

.hero_context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10vh;
}

.hero_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.title {
  font-size: 8.75em;
  letter-spacing: -0.05em;
  font-weight: 600;
}

.subtitle {
  font-weight: 300;
  font-size: 1.25em;
  width: 66%;
}

.facts {
  display: flex;
  align-items: flex-start;
  gap: 5vw;
}

.fact,
.overview,
.conclusion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.factLabel,
.sectionTitle {
  font-size: 0.875em;
  font-weight: 300;
  opacity: 0.33;
}

.factValue,
.overviewText,
.conclusionText,
.next {
  font-size: 1.15em;
  font-weight: 300;
}

.achievements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.achievements_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5em;
}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.achievement_context {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25em;
}

.achNumber {
  font-size: 5em;
  font-weight: 600;
}

.achTitle {
  font-size: 1em;
  font-weight: 400;
}

.achDesc {
  font-size: 0.875em;
  font-weight: 300;
  opacity: 0.5;
}

.overview,
.conclusion {
  width: 50%;
}

.overview,
.achievements,
.conclusion,
.next,
.gallery {
  margin-left: 25vw;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.galleryItem {
  aspect-ratio: 1;
  width: calc(50% - 0.25em);
  object-fit: cover;
  object-position: center;
}

.wide {
  aspect-ratio: 2/1;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.next {
  width: 73vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 0.375em 0.5em 0.375em 0.5em;
  border-radius: 0.25em;
  position: relative;
  color: var(--wb950);
  line-height: 1em;
  font-size: 1em;
  opacity: 0.5;
  font-weight: 300;
  transition: 0.3s;
}

.button:hover {
  opacity: 1;
  transition: 0.3s;
  background-color: var(--green300);
}
