.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20vh 0 10vh 0;
  gap: 20vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
  padding-inline: 2.5vw;
}

.header_title {
  font-size: 1.25em;
  font-weight: 300;
  justify-content: flex-end !important;
}

.header_desc {
  font-size: 2em;
  font-weight: 200;
}

.main {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10vh;
  width: 25%;
}

.work:nth-child(3),
.work:nth-child(4),
.work:nth-child(9),
.work:nth-child(10),
.work:nth-child(15),
.work:nth-child(16),
.work:nth-child(21),
.work:nth-child(22),
.work:nth-child(27),
.work:nth-child(28) {
  width: 50%;
}

.works {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.work_name {
  font-size: 1em;
  font-weight: 400;
  color: var(--wb950);
}

.work_desc {
  font-size: 0.8em;
  font-weight: 200;
  color: var(--wb600);
}

.work_img {
  width: 100%;
}

.img {
  width: 100%;
  height: 80vh;
  object-position: center;
  object-fit: cover;
  user-select: none;
  overflow: hidden;
}

.customCursor {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 0.375em 0.5em 0.375em 0.5em;
  background-color: var(--blue400);
  border-radius: 0.25em;
  color: var(--blue950);
  line-height: 1em;
  white-space: nowrap;
  font-size: 1.25em;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 15vh 2.5vw 5vh 2.5vw;
    gap: 15vh;
    align-items: center;
  }

  .header {
    width: 95vw;
    flex-direction: column;
  }

  .header {
    font-size: 1em;
  }

  .header_title {
    font-size: 1em;
  }

  .header_desc {
    font-size: 1.15em;
  }

  .work {
    width: 100% !important;
  }
}
