.container {
    width: 100vw;
    padding: 10vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.header_title {
    font-size: 1.5em;
}

.header_desc {
    font-size: 0.95em;
    font-weight: 300;
    color: var(--wb400);
}

.main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;
}

.social {
    width: 80vw;
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
}

.social_card {
    flex: 1;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_card:nth-child(1) {
    background-color: transparent;
}

.social_icon {
    height: 30%;
    min-height: 3em;
}

.img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top left;
    filter: saturate(0);
    transition: 0.3s;
}

.social_card:hover>.img {
    filter: saturate(1);
}