.container {
  width: 100vw;
  padding: 10vh 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.header_title {
  font-size: 1.25em;
  font-weight: 300;
}

.header_desc {
  font-weight: 300;
  color: var(--wb400);
}

.main {
  width: 80vw;
  display: flex;
  align-items: flex-start;
}

.link_title {
  font-size: 3em;
  font-weight: 200;
}
