.container {
  width: 98vw;
  position: fixed;
  padding: 1vh 0;
  top: 0vh;
  left: 1vw;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10vw;
  color: var(--wb950);
}

.logo {
  mix-blend-mode: difference;
  position: relative;
  height: 100%;
  font-size: 1.5em;
  user-select: none;
  font-weight: 400;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_bg {
  padding: 0.25em 0.25em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.menu_item {
  flex: 1;
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
  gap: 1em;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30vw;
  background-color: var(--green300);
  padding: 10vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5vh;
  z-index: 10002;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 1vh;
  right: 1vw;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.link {
  font-size: 4em;
  line-height: 1;
  letter-spacing: -0.05em;
  transition: 0.5s;
  white-space: nowrap;
}

.link_icon {
  width: 0;
  transition: 0.3s;
}

.link:hover > .link_icon {
  width: 100%;
}

.contact_link_sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.contact_links {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    width: 60vw;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 90vw;
    left: 5vw;
  }

  .menu_item > a:nth-child(1) {
    display: none;
  }

  .sidebar {
    height: 100svh;
    width: 100vw;
    padding: 20vh 10vw 10vh 10vw;
  }
}
