.main {
	height: 60vh;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.slide {
	flex: 0 0 auto;
	width: auto !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img {
	height: 60vh;
	width: auto;
	object-fit: contain;
}
