.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0.25;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 10vh;
  height: 100vh;
}

.icon {
  height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 5em;
  left: 0;
}

.icon_1 {
  top: 0;
}

.icon_2 {
  top: 10vh;
}

.icon_3 {
  top: 20vh;
}

.icon_4 {
  top: 30vh;
}

.icon_5 {
  top: 40vh;
}

.icon_6 {
  top: 50vh;
}

.icon_7 {
  top: 60vh;
}

.icon_8 {
  top: 70vh;
}

.icon_9 {
  top: 80vh;
}

.icon_10 {
  top: 90vh;
}
