.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  padding: 10vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: var(--wb50);
  z-index: -2;
}

.ball {
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  height: 80vh;
  scale: 0;
  position: relative;
  z-index: -2;
  background-color: black;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: 20em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 100vw;
}

.logo {
  position: absolute;
  height: 40vh;
  width: 37.5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  mix-blend-mode: difference;
  padding-inline: 10em;
}

.bracket {
  height: 100%;
}

.vertical {
  height: 0;
  width: 2px;
  background-color: var(--green300);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.horizontal {
  width: 0;
  height: 2px;
  opacity: 0.5;
  background-color: var(--green300);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.vertical_1 {
  left: 10em;
}

.vertical_2 {
  left: 12.25em;
}

.vertical_3 {
  right: 12.25em;
}

.vertical_4 {
  right: 10em;
}

.horizontal_1 {
  top: 0;
}

.horizontal_2 {
  top: 2.25em;
}

.horizontal_3 {
  bottom: 2.25em;
}

.horizontal_4 {
  bottom: 0em;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 10vw;
  }

  .ball {
    height: 45vh;
  }

  .logo {
    height: 15em;
    width: 15em;
    padding: 0;
  }

  .title {
    font-size: 15em;
  }

  .vertical_1 {
    left: 0em;
  }

  .vertical_2 {
    left: 1.5em;
  }

  .vertical_3 {
    right: 1.5em;
  }

  .vertical_4 {
    right: 0em;
  }

  .horizontal_2 {
    top: 1.5em;
  }

  .horizontal_3 {
    bottom: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  .ball {
    height: 80vw;
  }

  .logo {
    height: 10em;
    width: 10em;
  }

  .title {
    font-size: 7.5em;
  }

  .vertical_2 {
    left: 1em;
  }

  .vertical_3 {
    right: 1em;
  }

  .horizontal_2 {
    top: 1em;
  }

  .horizontal_3 {
    bottom: 1em;
  }
}
