/* INTRO */

.container {
  height: 100dvh;
  width: 100vw;
  padding: 20vh 10vw 10vh 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.vid {
  height: 70vh;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  /* filter: hue-rotate(-150deg); */
}

.marquee_div {
  width: 100%;
  position: absolute;
  margin-top: 5vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  overflow: hidden;
  clip-path: circle(35vh at 50% 50%);
  z-index: 3;
}

.marquee_div_content {
  font-size: 12.5em;
  white-space: nowrap;
  font-weight: 500;
  color: var(--wb50);
  margin-bottom: 10vh;
}

.marquee_div_2 {
  width: 100%;
  position: absolute;
  color: var(--wb950);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12.5em;
  white-space: nowrap;
  font-weight: 500;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vid {
    width: 80vw;
    height: auto;
  }

  .marquee_div {
    clip-path: circle(40vw at 50% 50%);
  }

  .marquee_div_content {
    font-size: 10em;

    margin-bottom: 10vh;
  }

  .marquee_div_2 {
    font-size: 10em;
  }
}

@media screen and (max-width: 600px) {
  .vid {
    width: 80vw;
    height: auto;
  }

  .marquee_div {
    margin-top: 0;
    clip-path: circle(40vw at 50% 50%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marquee_div_content {
    font-size: 7.5em;
    color: var(--wb50);
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .marquee_div_2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7.5em;
  }
}
