.container {
  width: 100%; /* 100vw yerine 100% - YATAY SCROLL BUG'I ÖNLENDİ */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  padding: 20vh 1vw 20vh 1vw;
  position: relative;
  user-select: none;
}

.main {
  font-size: 1.25em;
  font-weight: 200;
  position: relative;
  text-align: center;
  width: 20em;
}

@media screen and (max-width: 1024px) {
  .container {
    gap: 5vh;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20vh 5vw;
    gap: 5vh;
  }

  /* .header silindi (çünkü kullanılmıyordu) */

  .main {
    width: 75vw;
    font-size: 1em;
  }
}
