.manifest {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

.stage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panel {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;

  overflow: hidden;
  will-change: transform;
}

.panelInner {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
}
