.container {
  min-height: 50vh; 
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 30vw;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.title {
  font-size: 0.875em;
  opacity: 0.5;
  font-weight: 200;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.item {
  font-size: 1em;
  font-weight: 300;
  opacity: 0.85;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 98vw;
  }
}
