.container {
  width: 100vw;
  background-color: var(--wb50);
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10vh;
  position: relative;
  border-top: 1px solid var(--wb200);
}

.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10vh;
}

.logo {
  flex: 1;
  font-size: 2em;
}

.links_container {
  display: flex;
  align-items: flex-start;
  gap: 5vw;
}

.links {
  display: flex;
  align-items: flex-start;
  gap: 2em;
}

.links_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.links_header {
  font-size: 0.875em;
  font-weight: 200;
  opacity: 0.5;
  width: 4em;
}

.link {
  font-weight: 300;
  letter-spacing: -0.025em;
}

.footer {
  color: var(--wb400);
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 10vh 5vw;
  }

  .content {
    width: 98vw;
    flex-direction: column;
  }

  .links_container {
    flex-wrap: wrap;
  }
}
