.container {
  width: 100vw;
  background-color: var(--wb50);
  padding: 10vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
  position: relative;
  border-top: 1px solid var(--wb200);
}

.content {
  width: 98vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4em;
}

.logo {
  flex: 1;
  font-size: 2em;
}

.links_container {
  display: flex;
  align-items: flex-start;
  gap: 4em;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.links_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.link {
  font-weight: 300;
  color: var(--wb400);
}

.contact_link_colored {
  padding: 0.375em 0.5em 0.375em 0.5em;
  background-color: var(--blue400);
  border-radius: 0.25em;
  position: relative;
  color: var(--blue950);
  line-height: 1em;
}

.footer {
  color: var(--wb400);
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10vh 5vw;
  }

  .content {
    width: 98vw;
    flex-direction: column;
  }
}
